body {
  background-color: #202124;
  color:white;
}

a{
  text-decoration: none;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
}

.box {
      background-color: #313235;
      border-radius: .5rem;
      box-shadow: 0 1px 2px 0 rgb(0 0 0 / 60%), 0 1px 3px 1px rgb(0 0 0 / 30%);
      width: 500px;
      height: auto;
      justify-content: center;
    }

.button{
  background-color: transparent;
  border-radius: 15px;
  padding:10px;
  color: white;
  border-color: white;
 
}

    .location-box{
font-size: 40px;
text-align: center;
    }

    .temp{
      font-size: 80px;
text-align: center;
    }

    .weather{
      font-size: 20px;
text-align: center;
padding-bottom: 10px;
    }
